name: Compile JOSS Paper

on:
  push:
    paths:
      - 'paper/**'
  pull_request:
    paths:
      - 'paper/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build paper
        uses: openjournals/openjournals-draft-action@master
        with:
          journal: joss
          paper-path: paper.md
